.phone-display {
	font-size: 10vmin;
	padding: 0 5vmin;
	border: none;
	outline: none;
}

.phone-button {
	border: none;
	padding: 0;
	cursor: pointer;
}

.phone-button .digit {
	display: block;
	font-size: 1em;
}

.phone-button .alpha {
	display: block;
	font-size: 0.5em;
}

/* Colors */

.dialpad-button {
	background-color: hsl(0, 0%, 90%);
	outline: 1px solid #aaa;
}

.dialpad-button:hover,
.dialpad-button.hover {
	background-color: hsl(0, 0%, 95%);
}

.dialpad-button:active,
.dialpad-button.active {
	background-color: hsl(0, 0%, 85%);
}

.action-button {
	color: #fff;
	background-color: hsl(0, 0%, 30%);
	text-shadow: 0.3vmin 0.3vmin 0 rgba(0, 0, 0, 0.5);
	outline: 1px solid #333;
}

.action-button:hover,
.action-button.hover {
	background-color: hsl(0, 0%, 35%);
}

.action-button:active,
.action-button.active {
	background-color: hsl(0, 0%, 25%);
}

.action-button--dial {
	background-color: hsl(80, 60%, 50%);
}

.action-button--dial:hover,
.action-button--dial.hover {
	background-color: hsl(80, 60%, 55%);
}

.action-button--dial:active,
.action-button--dial.active {
	background-color: hsl(80, 60%, 45%);
}
